.nav-link{
    font-weight: 500;
}

.bg-image1{
    background-image: url("../resource/image/carousel/1.jpg");
    height: 100vh;
}
.bg-image2{
    background-image: url("../resource/image/carousel/2.jpg");
    height: 100vh;
}
.bg-image3{
    background-image: url("../resource/image/carousel/4.jpg");
    height: 100vh;
}
.btn-secondary{
    margin-left: 10px;
}